language: android
android:
  components:
    - tools
    - platform-tools
    - build-tools-27.0.3
    - android-28
    - extra-android-support
    - extra-google-m2repository
    - extra-android-m2repository

script:
  - ./gradlew ktlint build test
